/*文件管理插件*/
  #fileM{
  cursor:default;
  width:auto;
  height:auto;
  text-align:left;
  overflow-y:scroll;
  overflow-x:hidden;
  }
  .file_hover{
  background:#3C78B4;
  
  }

 .file_select{
  background:pink;
  }
 .file_control{
  height:40px;
  width:600px;
  margin-top:10px;
}
.select_info{
 color:green;
}
.fileM_box{
border:5px #F0F0F0 solid;
width:auto;
height:auto;
background:#fff;
}
