@charset "utf-8";

/*左侧区域*/
.left {
    background: #E0E0E3 url(../images/sidebar.png) repeat 0 0;
    height: 100%;
    width: 100%;
    padding-top: 33px;
}

.user {
    background: url(../images/secondary_bar.jpg) repeat-x #F1F1F4;
    height: 33px;
}

.user p {
    background: url(../images/icn_user.png) no-repeat left center;
    color: #666666;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 0 0 0 2%;
    text-indent: 25px;
    width: 95%;
}

.search {
    height: 45px;
    padding-top: 15px;
}

.quick_search {
    background: url(../images/search_bg.jpg) no-repeat center;
    color: #CCCCCC;
    height: 31px;
    text-indent: 30px;
    width: 315px;
    margin: 0 auto;
}

.search_txt {
    border: 0;
    width: 200px;
    vertical-align: middle;
    height: 20px;
    margin-top: 4px;
    _margin-left: 40px;
}

.left .clearline {
    background: url(../images/sidebar_divider.png) repeat-x 0 0;
    display: block;
    height: 2px;
    width: 100%;
}

.nav_zone {
    padding: 15px 0;
}

.tab_nav {
    width: 25px;
    margin-left: 15px;
    position: absolute;
    left: 0;
    z-index: 100;
}

.tab_nav ul {
    width: 25px;
    margin-top: 20px;
}

.tab_nav ul li {
    background: url(../images/tab_on.jpg) no-repeat 0 0;
    width: 24px;
    height: 55px;
    margin-top: 6px;
    font-size: 15px;
    font-weight: bold;
    font-family: Tahoma, SimSun, sans-serif;
    font-family: 微 软 雅 黑, "Microsoft Yahei", Tahoma !important;
}

.tab_nav ul li a {
    display: block;
    width: 24px;
    height: 49px;
    text-align: center;
    padding-top: 6px;
}

.tab_nav ul .tab_hovertab {
    background: url(../images/tabm_on.jpg) no-repeat 0 0;
    width: 25px;
    height: 55px;
}

.tab_nav ul .tab_hovertab a {
    width: 24px;
    height: 49px;
    text-align: center;
    padding-top: 6px;
    color: #fff;
}

.tab_nav ul li .a_m_hovertab {
    background: url(../images/tabm_on.jpg) no-repeat 0 0;
    color: #fff;
}

.nav {
    width: 80%;
    margin-left: 39px;
    _width: 78%;
}

.nav h3 {
    color: #1F1F20;
    display: block;
    font-size: 13px;
    padding: 20px 6% 10px 6%;
    width: 90%;
    text-shadow: 1px 1px 1px #fff;
}

.nav h3 span {
    float: right;
    font-weight: normal;
    font-size: 12px;
}

.nav h3 span a {
    margin-left: 4px;
    color: #666;
}

.toggle li {
    margin: 0 6% 0 12%;
    padding-left: 25px;
}

.toggle li a {
    color: #666666;
    display: inline-block;
    line-height: 17px;
    margin: 2px 0;
    text-shadow: 1px 1px 1px #fff;
}

.icn_new_article {
    background: url(../images/icn_new_article.png) no-repeat left center;
}

.icn_edit_article {
    background: url(../images/icn_edit_article.png) no-repeat left center;
}

.icn_categories {
    background: url(../images/icn_categories.png) no-repeat left center;
}

.icn_tags {
    background: url(../images/icn_tags.png) no-repeat left center;
}

.icn_add_user {
    background: url(../images/icn_add_user.png) no-repeat left center;
}

.icn_view_users {
    background: url(../images/icn_view_users.png) no-repeat left center;
}

.icn_profile {
    background: url(../images/icn_profile.png) no-repeat left center;
}

.icn_folder {
    background: url(../images/icn_folder.png) no-repeat left center;
}

.icn_photo {
    background: url(../images/icn_photo.png) no-repeat left center;
}

.icn_audio {
    background: url(../images/icn_audio.png) no-repeat left center;
}

.icn_video {
    background: url(../images/icn_video.png) no-repeat left center;
}

.icn_settings {
    background: url(../images/icn_settings.png) no-repeat left center;
}

.icn_security {
    background: url(../images/icn_security.png) no-repeat left center;
}

.icn_jump_back {
    background: url(../images/icn_jump_back.png) no-repeat left center;
}

/*左侧固定*/
.nav_zone {
    overflow-y: scroll;
    position: relative;
}

.nav {
}

.nav_middle {
    min-height: 500px;
    height: 100%;
    _height: 500px;
    padding-bottom: 20px;
}

.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+ (parseInt(this.currentStyle.marginTop,10)||0)));
    overflow: visible;
    height: 33px;
    overflow: hidden;
    background: #E0E0E3;
}