@charset "utf-8";
/*右侧区域*/
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.weizhi_shadow {
    margin: 0 auto;
    padding-top: 3px;
    width: 95%;
}

.weizhi {
    background: url(../images/secondary_bar.jpg) repeat-x 0 0 #F1F1F4;
    height: 36px;
    z-index: 1000
}

.wz_left {
    background: url(../images/wz_left_bg.png) no-repeat left top;
    width: 5px;
    height: 26px;
    float: left;
    display: inline;
}

.wz_middle {
    background: url(../images/wz_middle_bg.png) repeat-x left top;
    height: 26px;
    float: left;
    display: inline;
    line-height: 26px;
    padding: 0 10px;
}

.wz_right {
    background: url(../images/wz_right_bg.png) no-repeat left top;
    width: 5px;
    height: 26px;
    float: left;
    display: inline;
}

.jt {
    background: url(../images/breadcrumb_divider.jpg) no-repeat 0 0;
    display: inline-block;
    float: left;
    height: 24px;
    margin: 0 5px;
    width: 12px;
    margin-top: 1px;
}

.wz_middle a:link, .wz_middle a:visited {
    color: #44474F;
    font-weight: bold;
}

.wz_middle a {
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 26px;
}

.wz_middle a.current {
    color: #9E9E9E
}

.stats {
    width: 95%;
    margin: 10px auto 0;
}

.lm_title {
    background: url(../images/top_bg2.png) repeat-x 0 0;
    height: 39px;
}

.lm_title_l {
    background: url(../images/top_bg1.png) no-repeat left top;
    height: 39px;
    overflow: hidden;
}

.lm_title_l em {
    display: block;
    background: url(../images/top_bg3.png) no-repeat right top;
    height: 31px;
    overflow: hidden;
    color: #1F1F20;
    font-size: 13px;
    padding: 8px 0 0 20px;
    font-style: normal;
    font-weight: bold;
}

.lm_content, .lm_table {
    background: #fff;
    border-left: 1px solid #9da0a7;
    border-right: 1px solid #9da0a7;
}

.lm_table {
    height: auto;
}

.lm_table table {
    margin-top: -5px;
}

.lm_table table tr td {
    height: 40px;
    line-height: 40px;
}

.lm_table table .title {
    height: 34px;
    background: url(../images/title_bg.png) repeat-x 0 0;
    overflow: hidden;
}

.lm_table table .title td {
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
}

.lm_table table .tr_line, .lm_table table .tr_line td {
    height: 1px;
    line-height: 1px;
    overflow: hidden;
}

.lm_table table .tr_line td div {
    height: 1px;
    border-bottom: 1px dotted #cccccc;
    line-height: 1px;
}

.lm_table_bottom {
    background: url(../images/bottom_bg5.png) repeat-x 0 0;
    height: 34px;
}

.lm_table_bottom_l {
    background: url(../images/bottom_bg4.png) no-repeat left top;
    height: 34px;
    overflow: hidden;
}

.lm_table_bottom_l em {
    background: url(../images/bottom_bg6.png) no-repeat right top;
    height: 34px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.lm_bottom {
    background: url(../images/bottom_bg3.png) repeat-x 0 0;
    height: 6px;
}

.lm_bottom_l {
    background: url(../images/bottom_bg1.png) no-repeat left top;
    height: 6px;
    overflow: hidden;
}

.lm_bottom_l em {
    background: url(../images/bottom_bg2.png) no-repeat right top;
    height: 6px;
    overflow: hidden;
    font-style: normal;
    display: block;
}

.container h4.alert_info {
    display: block;
    width: 95%;
    margin: 10px auto;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #77BACE;
    color: #082B33;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

.container h4.alert_warning {
    display: block;
    width: 95%;
    margin: 10px auto;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #C7A20D;
    color: #796616;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

.container h4.alert_error {
    display: block;
    width: 95%;
    margin: 10px auto;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #D20009;
    color: #7B040F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

.container h4.alert_success {
    display: block;
    width: 95%;
    margin: 10px auto;
    margin-top: 20 px-webkit-border-radius : 5 px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
    background-position: 10px 10px;
    border: 1px solid #79C20D;
    color: #32510F;
    padding: 10px 0;
    text-indent: 40px;
    font-size: 14px;
}

/*左侧固定*/
.tab {
}

.nav_zone {
    margin-top: 45px;
    overflow-y: scroll;
    _position: absolute;
    _margin-top: 0;
    _top: 45px;
}

.nav_middle {
    min-height: 500px;
    height: 100%;
    _height: 500px;
}

.fix {
    background: #E0E0E3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+ (parseInt(this.currentStyle.marginTop,10)||0)));
    overflow: visible;
    height: 33px;
    overflow: hidden;
}

/*弹出层*/
.popupPanel {
    width: 450px;
    margin: 0 auto;
    position: absolute;
    top: 88px;
    left: 20px;
    display: none;
}

.popupPanel .lm_title_l em {
    color: #0094B1;
}

.popupPanel .lm_content label {
    color: #0094B1;
}

/**全选、反选*/
.select_btn {
    width: 150px;
    float: left;
    display: inline;
    padding: 5px 0 0 15px;
}

.select_btn1, .select_btn2 {
    background: url(../images/select_btn1.jpg) no-repeat 0 0;
    width: 57px;
    height: 23px;
    border: 0;
    cursor: pointer;
}

.select_btn2 {
    background: url(../images/select_btn2.jpg) no-repeat 0 0;
}

.page {
    width: 340px;
    float: right;
    text-align: right;
    color: #434343;
    margin: 8px 15px 0 0;
}

.page a {
    color: #434343;
}

/*******欢迎页样式*******/
.web_safe {
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
}

.web_safe .safe_l {
    width: 350px;
    float: left;
    display: inline;
}

.web_safe .safe_l dl {
    height: 110px;
}

.web_safe .safe_l dl dt {
    width: 80px;
    float: left;
}

.web_safe .safe_l dl dd {
    width: 250px;
    float: right;
}

.web_safe .safe_l .web_safe_f1 {
    color: #2b6901;
    font-family: Tahoma, SimSun, sans-serif;
    font-family: 微 软 雅 黑, "Microsoft Yahei", Tahoma !important;
    font-size: 20px;
}

.web_safe .safe_l .web_safe_f2 {
    font-family: Tahoma, SimSun, sans-serif;
    font-family: 微 软 雅 黑, "Microsoft Yahei", Tahoma !important;
    font-size: 12px;
    color: #000;
    padding: 5px 0 15px;
}

.web_safe .safe_l .web_safe_f2 span {
    color: #ff6000;
    padding: 0 4px;
}

.web_safe .safe_r {
    width: 60%;
    float: right;
    display: inline;
}

.web_safe .safe_r .safe_r_result span {
    padding: 0 4px;
    font-weight: bold;
    color: #d73f17;
}

.web_safe .safe_r .safe_r_result_list {
    height: 130px;
    overflow-y: scroll;
    background: #fff6f2;
    border: 1px solid #efe6e3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(css/ie-css3.htc);
    margin: 10px 0;
    padding: 10px;
    line-height: 22px;
}

.web_safe .safe_r .safe_r_result_list .safe_title {
    background: url(../images/notice_icon.jpg) no-repeat left;
    padding-left: 20px;
}

.web_safe .safe_r .safe_r_result_list .safe_title span {
    float: right;
}

.web_safe .safe_r .safe_r_result_list .safe_title span a {
    background: url(../images/safe_btn.jpg) no-repeat 0 0;
    width: 48px;
    height: 21px;
    display: block;
    text-align: center;
    line-height: 21px;
    color: #3f3f3f;
}

.web_safe .safe_r .safe_r_result_list .safe_list {
    line-height: 20px;
    padding: 4px 0 8px 20px;
    color: #646464;
}

.quick {
    background: #ffffff;
    height: 147px;
    border: 1px solid #c4c4c4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 95%;
    margin: 0 auto;
    behavior: url(css/ie-css3.htc);
    padding: 0 2px;
    position: relative;
}

.quick .quick_ul {
    padding: 15px 0 25px;
    background: #ffffff url(../images/quick_bg.jpg) repeat-x 0 0;
    height: 107px;
    overflow: hidden;
}

.quick ul {
    width: 90%;
    margin: 0 auto;
}

.quick ul li {
    width: 120px;
    float: left;
    margin: 0 5px;
    padding: 1px 0 5px;
}

.quick ul li a {
    display: block;
    padding-top: 14px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.quick ul li a:hover {
    background: url(../images/quick_on.jpg) no-repeat 0 0;
    color: #00A54C;
}

.quick ul li span {
    display: block;
    text-align: center;
}

.quick .quick_name {
    padding: 5px 0 0;
}

.quick .l_btn {
    background: url(../images/l_btn.jpg) no-repeat 0 0;
    width: 26px;
    height: 46px;
    position: absolute;
    left: 0px;
    top: 30%;
}

.quick .r_btn {
    background: url(../images/r_btn.jpg) no-repeat 0 0;
    width: 26px;
    height: 46px;
    position: absolute;
    right: 0px;
    top: 30%;
}

.statistic {
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.statistic .switch {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.statistic .statistic_main {
    padding-top: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
}

.statistic .graph_l {
    width: 75%;
    float: left;
    display: inline;
}

.statistic .graph_r {
    width: 22%;
    float: right;
    display: inline;
}

.statistic .graph_btn {
    padding-top: 10px;
}

.statistic .graph_btn p a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #2b6cd3;
    border: 1px solid #2453a3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 95%;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    behavior: url(css/ie-css3.htc);
    margin-top: 7px;
    font-family: Tahoma, SimSun, sans-serif;
    font-family: 微 软 雅 黑, "Microsoft Yahei", Tahoma !important;
}

.statistic .graph_btn .graph_btn2 a {
    background: #d8561c;
    border: 1px solid #964721;
}

.statistic .graph_a, .statistic .graph_b, .statistic .graph_c {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    float: left;
}

.statistic .graph_a dt, .statistic .graph_b dt, .statistic .graph_c dt {
    width: 72px;
    float: left;
}

.statistic .graph_a dd, .statistic .graph_b dd, .statistic .graph_c dd {
    float: left;
    font-family: Tahoma, SimSun, sans-serif;
    font-family: 微 软 雅 黑, "Microsoft Yahei", Tahoma !important;
    font-size: 14px;
    font-weight: bold;
    color: #4f4f4f;
    margin: 25px 0 0 20px;
}

.other_zone {
    width: 95%;
    margin: 0 auto;
}

.other_zone .sys_infor {
    width: 49%;
    float: left;
    display: inline;
}

.other_zone .sys_infor .sys_infor_list {
    background: url(../images/pc.jpg) no-repeat 10px 50%;
    padding: 10px 10px 20px 130px;
}

.other_zone .sys_infor .sys_infor_list ul li {
    border-bottom: 1px dashed #c2c2c2;
    line-height: 28px;
}

.other_zone .web_setting {
    width: 49%;
    float: right;
    display: inline;
}

.other_zone .web_setting .web_setting_list {
    padding: 10px 10px 20px;
}

.other_zone .web_setting .web_setting_list table tr td {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px dashed #c2c2c2;
    padding: 0 0 0 5px;
}

.other_zone .web_setting .web_setting_list table tr td em {
    font-style: normal;
    color: #999999;
    padding-left: 20px;
}